 body {
     margin: 0;
     padding: 0;
 }

 .header {
     width: 100%;
     height: 100vh;
     position: absolute;
     overflow: hidden;
 }

 .mountain {
     width: 100%;
     bottom: 0;
     position: absolute;
 }

 .cloud {
     width: 250px;
     height: 170px;
     position: absolute;
     top: 130px;
     left: -20%;
     animation: move 10s ease-in-out infinite;
 }

 .cloud2 {
     width: 250px;
     height: 160px;
     position: absolute;
     right: -200px;
     animation: cloud 10s ease-in-out infinite both;
     top: 1px;


 }
 .sun{width: 200px;
height: 200px;
position:absolute;
bottom:0px;
z-index: -1;
left: 44%;
animation: sun 7s ease-in infinite alternate ;}

 @keyframes move {
     from {
         left: -20%;
     }

     to {
         left: 105%;
     }

 }

 @keyframes cloud {
     from {
         right: -20%;
     }

     to {
         right: 105%;

     }
 }

 @keyframes sun {
     form { 
        bottom:0;
        transform: rotate(0deg);
        filter: saturate(0);
     }

     to {bottom: 105%;
    transform: rotate(360deg);
filter:saturate(1);}
 }